<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944944331732-e5h5j7kciok43ei3lpvahuho0o0g6of8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944944331732-e5h5j7kciok43ei3lpvahuho0o0g6of8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944944331732-5n7ihi2cp5lt3t7no68ufsta2gi6apc9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVxUh9vCcx_NeyC57032UsIr49BMSS9fY</string>
	<key>GCM_SENDER_ID</key>
	<string>944944331732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMealPlanner</string>
	<key>PROJECT_ID</key>
	<string>clone-re</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-re.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944944331732:ios:3743a71b26fc45ebc6f441</string>
</dict>
</plist>